* {
  box-sizing: border-box;
}

#previous {
  color: whitesmoke;
  background-color: #83C4C1;
  border: 0px;
  padding: 5px 8px;
  transition: background 0.25s ease-in-out;
}

#previous:hover {
  background: #64918F;
  cursor: pointer;
}

#next:hover {
  background: #64918F;
  cursor: pointer;
}

#next {
  color: whitesmoke;
  background-color: #83C4C1;
  border: 0px;
  padding: 5px 8px;
  transition: background 0.25s ease-in-out;
  
}

#content-container {
  position: relative;
  margin: 0 auto;
  display: block;
  z-index: 10000;
  height: 400px;
  width: 1000px;
  background: whitesmoke; 
}

#content-bar {
  background: #83C4C1;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 1;
}

#content-place {
  text-transform: uppercase;
  font-weight: 500;
  color: #595959;
  margin-bottom: 2px;
}

#content-address {
  margin-top: 0px;
  color: #939393;
}

#content-image {
  width: 100%;
  height: 250px;
  padding: 20px;
  z-index: 2;
  position: relative;
}

#content-image img {
  width: 100%;
  height: 100%;
}

#content-text {
  padding: 20px;
  width: 100%;
  height: 150px;
  background: #EDEDED;
}

#content-description {
  font-family: 'Helvetica Neue', sans-serif;
  float: left;
  height: 400px;
  width: 50%;
}

#content-map {
  z-index: 2;
  float: right;
  height: 400px;
  width: 50%;
}

#content-arrows {
  position: absolute;
  right: 52%;
  bottom: 2%;
}

#content-nav {
  clear: both;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.content-bubble {
  font-weight: 700;
  font-size: 0.8em;
  background-color: whitesmoke;
  /*border: 1px solid gray;*/
  border: 0px;
  color: gray;
  margin-right: 5px;
  padding: 6px 10px;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;
}

.active {
  background-color: #83C4C1;
  border: 0px;
  color: whitesmoke;
}

.content-bubble:last-child {
  margin-right: 0px;
  padding: 6px 6px;
}

.content-bubble:hover {
  cursor: pointer;
  background-color: #83C4C1;
  border: 0px;
  transform: scale(1.2);
  color: whitesmoke;
}