#content-container {
  position: relative;
  margin: 0 auto;
  display: block;
  z-index: 10000;
  height: 400px;
  width: 1000px;
  background: whitesmoke; 
}

#content-bar {
  background: cyan;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 1;
}

#flex {
  display: flex;
  align-items: flex-end;
}

#flex-image {
  /*background: whitesmoke;*/
  width: 175px;
}

#flex-name {
  /*background: gray;*/
  flex: 1;
}

#flex-review {
  padding: 20px; 
  height: 200px;
}

#content-image {
  height: 125px;
  width: 125px; 
  margin-top: 20px;
  margin-left: 20px;
  z-index: 2;
  position: relative;
  display: inline-block;
}

#content-place {
  display: inline-block;
}

#content-description {
  float: left;
  height: 400px;
  width: 50%;
}

#content-map {
  z-index: 2;
  float: right;
  height: 400px;
  width: 50%;
}

#content-nav {
  clear: both;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.content-bubble {
  font-size: 0.8em;
  background-color: white;
  border: 1px solid whitesmoke;
  margin-right: 5px;
  padding: 6px 10px;
  border-radius: 50%;
}

.content-bubble:last-child {
  margin-right: 0px;
}

.content-bubble:hover {
  cursor: pointer;
}